<% provide :title, t("static_pages.help.title") %>
<h1><%= t "static_pages.help.help" %></h1>
<p>
  <%= t "static_pages.help.intro" %>
  <a href="http://www.railstutorial.org/help"><%= t "static_pages.help.link" %></a><br>
  <%= t "static_pages.help.toget" %>
  <a href="http://www.railstutorial.org/book"><em><%= t "static_pages.help.tut" %></em><br>
  <%= t "static_pages.help.book" %></a>
</p>
