<% @user ||= current_user %>
<div class="stats">
  <a href="<%= user_relationships_path(@user, title: :following) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <%= t "shared.stats.following" %>
  </a>
  <a href="<%= user_relationships_path(@user, title: :followers) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= t "shared.stats.followers" %>
  </a>
</div>
